{:paths [ "src" ]
 :deps { org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/core.match {:mvn/version "1.0.0"}
        org.clojure/data.json {:mvn/version "2.4.0"}

        ;; Spec -- not sure why it's needed but runtime needs it
        org.clojure/spec.alpha {:mvn/version "0.2.194"}
        org.clojure/core.specs.alpha {:mvn/version "0.2.56"}

        ;; For web API
        io.pedestal/pedestal.service {:mvn/version "0.5.10"}
        io.pedestal/pedestal.route {:mvn/version "0.5.10"}
        io.pedestal/pedestal.jetty {:mvn/version "0.5.10"}

        ;; Logging
        org.slf4j/slf4j-simple {:mvn/version "1.7.36"}

        ;; Configuration
        environ/environ {:mvn/version "1.2.0"}

        ;; make http calls
        clj-http/clj-http {:mvn/version "3.12.3"}

        ;; Enhanced exceptions handling
        slingshot/slingshot {:mvn/version "0.12.2"}

        ;; Embedded Database sqlite
        org.clojure/java.jdbc {:mvn/version "0.7.8"}
        org.xerial/sqlite-jdbc {:mvn/version "3.23.1"}

        ;; DSL for SQL
        com.github.seancorfield/honeysql {:mvn/version "2.2.891"}

        ;; Schema validation
        metosin/malli {:mvn/version "0.8.4"}

        ;; Joda time wrapper
        clj-time/clj-time {:mvn/version "0.15.2"}

        ;; Initialization for graalvm stuff
        com.github.clj-easy/graal-build-time {:mvn/version "0.1.4"}}


 :aliases {:test {:extra-paths ["test/jms"]
                  :extra-deps  {lambdaisland/kaocha {:mvn/version "0.0-529"}}
                  :main-opts   ["-m" "kaocha.runner"]}
           :uberjar {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
                     :main-opts [ "-m" "hf.depstar.uberjar"]}
           :uberjarwebhook {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
                            :main-opts [ "-m" "hf.depstar.uberjar" "jms.jar" "-C" "-m" "jms.webhooktest"]}}}
