{:kustomize ["kusto-ex"]
 :b10s ["b10s"]
 :resources [
             {:kind "toto"
              :metadata {:name "toto"
                         :namespace "toto"}}
             {:kind "Pod"
              :metadata {:name "ngin"}}
             ]}
