{:paths ["src"]
 :aliases {:outdated {:extra-deps {olical/depot {:mvn/version "1.8.4"}}
                      :main-opts  ["-m" "depot.outdated.main" "-a" "outdated"]}
           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.8.1" :git/sha "7d40500"}}
                   :ns-default build}}
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        seancorfield/depstar {:mvn/version "1.0.94"}
        org.clojure/core.match {:mvn/version "1.0.0"}}}
