{:tasks {native (shell "native-image -jar target/b10s-0.1.0-standalone.jar -H:Name=b10s-exe -H:ReflectionConfigurationFiles=./reflect-cfg.json -Dclojure.spec.skip-macros=true -H:+ReportExceptionStackTraces")}
 :paths ["src"]}
